<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/theme.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>

<div>{% block content %} {% endblock %}</div>

<script
        type="text/javascript"
        src="{{ url_for('static', filename='index.js') }}"
></script>

<script src="/static/plugins/jquery-3.3.1.min.js"></script>
<script src="/static/plugins/popper.min.js"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
