{% extends "base.html" %} {% block title %}Create Post{% endblock %} {% block content %}
    <header class="header text-center static_gradient_bg">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <nav class="navbar navbar-expand-lg navbar-dark">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                    aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navigation" class="collapse navbar-collapse flex-column">
                <div class="profile-section pt-3 pt-lg-0">
                    <img class="profile-image rounded-circle mx-auto"
                         style="width: 150px; height: 150px"
                         src="/static/images/3.png" alt="image">
                    <h1 class="blog-name pt-lg-4 mb-0">
                        {{ user.nickname }}
                    </h1>
                    <div class="bio mb-3">Status</div>

                    <hr>
                </div>

                <ul class="navbar-nav flex-column text-left">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fas fa-home fa-fw mr-2"></i>Stories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blog-post.html"><i
                                class="fas fa-bookmark fa-fw mr-2"></i>Characters</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html"><i class="fas fa-user fa-fw mr-2"></i>Rooms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html"><i class="fas fa-cog fa-fw mr-2"></i>Settings</a>
                    </li>
                </ul>

                <div class="my-2 my-md-3">
                    <a class="btn btn-primary" href="/logout" target="_blank">Log Out</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="main-wrapper">
        <section class="cta-section theme-bg-light py-5">
            <div class="container text-center">
                <h2 class="heading">Let's create new story!</h2>
            </div>
        </section>
        <section class="blog-list px-3 py-5 p-md-4">
            <div class="container">
                <form method="POST">
                    <div class="row mb-2">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="name" name="name" class="form-control"/>
                                <label class="form-label" for="name">Name</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="fandom" name="fandom" class="form-control"/>
                                <label class="form-label" for="fandom">Fandom</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-outline mb-2">
                        <textarea class="form-control" name="description" id="description" rows="2"></textarea>
                        <label class="form-label" for="description">Description</label>
                    </div>

                    <div class="form-outline mb-2">
                        <textarea class="form-control" name="content" id="content" rows="4"></textarea>
                        <label class="form-label" for="content">Story</label>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Save</button>
                </form>
            </div>
        </section>
    </div>

{% endblock %}