{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
    <header class="header text-center static_gradient_bg">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <nav class="navbar navbar-expand-lg navbar-dark">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                    aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navigation" class="collapse navbar-collapse flex-column">
                <div style="height: 30vh"></div>
                <div class="text-center mb-3">
                    <span style="color: #ffffff; font-size: 30pt; font-weight: bold">Ur</span>
                    <span style="color: #ffffff; font-size: 30pt; font-weight: bold">Book</span>
                </div>
                <ul class="navbar-nav flex-column text-left">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"><i class="fas fa-book fa-fw mr-2"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rooms"><i class="fas fa-comment-dots fa-fw mr-2"></i>Rooms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users"><i class="fas fa-users mr-2"></i>Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/settings"><i class="fas fa-cog fa-fw mr-2"></i>Settings</a>
                    </li>
                </ul>

                <div class="my-2 my-md-3">
                    <a class="btn btn-primary" href="/logout" target="_blank">Log Out</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="main-wrapper">
        <div class="container text-center">
            <div class="profile-section pt-3 pt-lg-4">
                <img class="profile-image rounded-circle mx-auto"
                     style="width: 150px; height: 150px"
                     src="{{ image_path }}" alt="image">
                <h1 class="blog-name pt-lg-1 mb-0">
                    {{ user.nickname }}
                </h1>
                <div class="bio mb-3">{{ user.status }}</div>
            </div>
        </div>
        <hr>
        <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">Let's create new story!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <section class="blog-list px-3 py-5 p-md-4">
                            <div class="container">
                                <form method="POST" enctype="multipart/form-data">
                                    {% with messages = get_flashed_messages(with_categories=true) %} {% if
                                        messages %} {% for category, message in messages %} {% if category == 'error' %}
                                        <div class="alert alert-danger alter-dismissable fade show" role="alert">
                                            {{ message }}
                                            <button type="button" class="close" data-dismiss="alert">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                    {% endif %} {% endfor %} {% endif %} {% endwith %}
                                    <div class="row mb-2">
                                        <div class="col">
                                            <div class="form-outline">
                                                <input type="text" id="name" name="name" class="form-control"/>
                                                <label class="form-label" for="name">Name</label>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-outline">
                                                <input type="text" id="fandom" name="fandom"
                                                       class="form-control"/>
                                                <label class="form-label" for="fandom">Fandom</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-2">
                                                <textarea class="form-control" name="description" id="description"
                                                          rows="2"></textarea>
                                        <label class="form-label" for="description">Description</label>
                                    </div>

                                    <div class="card mb-3 border-0" style="height: 70px">
                                        <div class="card-body">
                                            <input type="file" name="file" id="file" class="file"/>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-2">
                                                <textarea class="form-control" name="content" id="content"
                                                          rows="4"></textarea>
                                        <label class="form-label" for="content">Story</label>
                                    </div>

                                    <button class="btn btn-primary btn-block" type="submit">Save</button>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid py-2">
            <h6>Follows</h6>
            <div class="container-fluid">
                <div class="row overflow-auto flex-row flex-nowrap">
                    {% for follow in followed %}
                        <div class="col-1">
                            <img src="{{ follow.image_path }}"
                                 class="rounded-circle" style="width: 50px; height: 50px"
                                 alt="Avatar"
                                 onclick="window.open('/user?id={{ follow.id }}')"/>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container-fluid py-2">
            <h6>Followers</h6>
            <div class="container-fluid">
                <div class="row overflow-auto flex-row flex-nowrap">
                    {% for follow in followers %}
                        <div class="col-1">
                            <img src="{{ follow.image_path }}"
                                 class="rounded-circle" style="width: 50px; height: 50px"
                                 alt="Avatar"
                                 onclick="window.open('/user?id={{ follow.id }}')"
                            />
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>
        <form class="signup-form form-inline justify-content-center pt-0">
            <div class="form-group">
                <input type="text" id="search-text" name="text" class="form-control mr-md-1 semail"
                       placeholder="Search...">
            </div>
            <button id="search" class="btn btn-outline-primary mr-1"><i class="fas fa-search"></i></button>

            <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#exampleModalScrollable">
                <i class="fas fa-plus"></i>
                New Post
            </button>
        </form>
        <div class="container-fluid py-3">
            <div class="container-fluid">
                <div class="row overflow-auto flex-row flex-nowrap">

                    {% for post in posts %}
                        <div style="width: 350px">
                            <div class="card" style="margin-bottom: 20px">
                                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                    <img src="{{ post.image_path }}"
                                         style="height: 200px; width: 100%;"
                                         class="img-fluid"/>
                                    <div class="card-img-overlay" style="height: 200px;">
                                        <button type="button"
                                                class="btn-close btn-close-white" id="delete-{{ post.id }}"
                                                style="margin-left: 95%"
                                                aria-label="Delete"></button>
                                        <script>
                                            $("#delete-{{ post.id }}").click(function () {
                                                $.ajax({
                                                    type: "get",
                                                    url: "/delete_post?id=" + {{ post.id }},
                                                    success: function (data) {
                                                        window.location = "/";
                                                    }
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                                <div class="card-body card-body-custom" style="width: 100%">
                                    <h5 class="card-title"> {{ post.name }} </h5>
                                    <p class="card-text" style="height: 70px">
                                        {{ post.description[:100] + "..." }}
                                    </p>
                                    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal"
                                            data-target="#modal-{{ post.id }}" style="height: 30px; padding-x: 5px">
                                        Read
                                    </button>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">{{ post.creation_date }}</small>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="modal-{{ post.id }}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered"
                                 role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalScrollableTitle">{{ post.fandom }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container">
                                            <p class="fs-4 text-center fw-bold"> {{ post.name }}</p>
                                            <img src="{{ post.image_path }}"
                                                 style="max-height: 400px; width: 100%;"
                                            />
                                            <hr>
                                            <p class="fst-italic"> {{ post.description }}</div>
                                        <hr>
                                        <p class="fs-6">{{ post.content }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}