{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
    <header class="header text-center static_gradient_bg">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <nav class="navbar navbar-expand-lg navbar-dark">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                    aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navigation" class="collapse navbar-collapse flex-column">
                <div class="profile-section pt-3 pt-lg-0">
                    <img class="profile-image rounded-circle mx-auto"
                         style="width: 150px; height: 150px"
                         src="/static/images/3.png" alt="image">
                    <h1 class="blog-name pt-lg-4 mb-0">
                        {{ user.nickname }}
                    </h1>
                    <div class="bio mb-3">{{ user.status }}</div>

                    <hr>
                </div>

                <ul class="navbar-nav flex-column text-left">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fas fa-book fa-fw mr-2"></i>Stories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blog-post.html"><i
                                class="fas fa-person fa-fw mr-2"></i>Characters</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/rooms"><i class="fas fa-comment-dots fa-fw mr-2"></i>Rooms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/follows"><i class="fas fa-users mr-2"></i>Follows</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/rooms"><i class="fas fa-cog fa-fw mr-2"></i>Settings</a>
                    </li>
                </ul>

                <div class="my-2 my-md-3">
                    <a class="btn btn-primary" href="/logout" target="_blank">Log Out</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="main-wrapper" id="main-wrapper">

        <div class="row g-0" style="height: 100vh">
            <div class="col-12 col-lg-5 col-xl-3 border-right">

                <div class="px-4 d-none d-md-block">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <form class="signup-form form-inline justify-content-center pt-3">
                                <div class="form-group">
                                    <input type="text" id="search-text" name="text" class="form-control mr-md-1 semail"
                                           placeholder="Search...">
                                </div>
                                <button id="search" class="btn btn-outline-primary mr-1"><i class="fas fa-search"></i>
                                </button>

                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#exampleModalScrollable">
                                    <i class="fas fa-plus"></i>
                                    New Room
                                </button>
                            </form>

                            <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalScrollableTitle">Let's create new
                                                room!</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <section class="blog-list px-3 py-5 p-md-4">
                                                <div class="container">
                                                    <form action="/create_room" method="POST">
                                                        <div class="form-outline">
                                                            <input type="text" id="name" name="name"
                                                                   class="form-control"/>
                                                            <label class="form-label" for="name">Name</label>
                                                        </div>

                                                        <div class="form-outline mb-2">
                                                <textarea class="form-control" name="description" id="description"
                                                          rows="2"></textarea>
                                                            <label class="form-label"
                                                                   for="description">Description</label>
                                                        </div>

                                                        <button class="btn btn-primary btn-block">Save</button>
                                                    </form>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="rooms">
                    {% for room in rooms %}
                        <a href="/rooms?id={{ room.id }}" class="list-group-item list-group-item-action border-0">
                            <div class="d-flex align-items-start">
                                <img src=""
                                     class="rounded-circle mr-1" alt="avatar" width="40" height="40">
                                <div class="flex-grow-1 ml-3">
                                    {{ room.name }}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>

                <hr class="d-block d-lg-none mt-1 mb-0">
            </div>
            <div class="col-12 col-lg-7 col-xl-9" style="padding: 0">
                <div class="py-2 px-2 border-bottom d-none d-lg-block">
                    <div class="d-flex align-items-center py-1">
                        <div class="position-relative">
                            <img src=""
                                 class="rounded-circle mr-1" alt="avatar" width="40" height="40">
                        </div>
                        <div class="flex-grow-1 pl-3" id="room-name">
                        </div>
                    </div>
                </div>

                <div class="chat-messages p-4">
                    <div id="chat-history" style="overflow-x: auto; height: 100vh; position: relative">
                    </div>

                </div>

                <div class="flex-grow-0 py-3 px-4 border-top">
                    <form method="POST" id="form">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Type your message" name="content"
                                   id="content">
                            <button class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript">
        let scrolled = false;

        $("#chat-history").on('scroll', function () {
            scrolled = true;
        });

        function updateScroll() {
            if (!scrolled) {
                let objDiv = document.getElementById("chat-history");
                objDiv.scrollTop = objDiv.scrollHeight;
            }
        }

        setInterval(function () {
            const urlParams = new URLSearchParams(window.location.search);
            const id = urlParams.get('id');

            if (id) {
                $.ajax({
                    type: "get",
                    url: "/get_room_messages?id=" + id,
                    success: function (data) {
                        $("#chat-history").empty();
                        $("#room-name").empty();
                        $("#room-name").append('<strong>' + data.room_name + '</strong>');
                        data.data.forEach((x, i) => {
                            let chat_class = 'chat-message-left'
                            if (x.user_id === data.current_user) {
                                chat_class = 'chat-message-right'
                            }
                            $("#chat-history").append('<div class=\"' + chat_class + ' pb-4\">' +
                                '<div class=\"flex-shrink-1 rounded py-2 px-3\" style=\"min-width: 150px; background: #f3f3f3\">' +
                                '<div class=\"font-weight-bold mb-1\">' + x.user_nickname + '</div>' +
                                '<div class=\"text-muted small text-nowrap mt-1\">' + x.creation_date + '</div>' +
                                x.content + '</div></div>');
                        })
                        updateScroll();
                    }
                });
            }
        }, 200);
    </script>


{% endblock %}