{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content %}
    <div class="gradient_bg">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-7 col-xl-6">
                        <div class="card">
                            <div class="card-body p-5">
                                <div class="my-4">
                                    <div class="text-center mb-3"><span
                                            style="color: #4A148C; font-size: 60pt; font-weight: bold">Ur</span><span
                                            style="color: #FF4081; font-size: 60pt; font-weight: bold">Book</span>
                                    </div>
                                    <form method="POST">
                                        <div class="input-group flex-nowrap mb-3">
                                            <span class="input-group-text" id="addon-wrapping"><i class="fas fa-envelope"></i></span>
                                            <input
                                                    type="email"
                                                    class="form-control"
                                                    id="email"
                                                    name="email"
                                                    placeholder="Введите e-mail"
                                            />
                                        </div>

                                        <div class="input-group flex-nowrap mb-3">
                                            <span class="input-group-text" id="addon-wrapping"><i class="fas fa-user-circle"></i></span>
                                            <input
                                                    type="text"
                                                    class="form-control"
                                                    id="firstName"
                                                    name="firstName"
                                                    placeholder="Введите никнейм"
                                            />
                                        </div>

                                        <div class="input-group flex-nowrap mb-3">
                                            <span class="input-group-text" id="addon-wrapping"><i class="fas fa-key"></i></span>
                                            <input
                                                    type="password"
                                                    class="form-control"
                                                    id="password1"
                                                    name="password1"
                                                    placeholder="Введите пароль"
                                            />
                                        </div>

                                        <div class="input-group flex-nowrap mb-3">
                                            <span class="input-group-text" id="addon-wrapping"><i class="fas fa-key"></i></span>
                                            <input
                                                    type="password"
                                                    class="form-control"
                                                    id="password2"
                                                    name="password2"
                                                    placeholder="Подтверждение пароля"
                                            />
                                        </div>

                                        {% with messages = get_flashed_messages(with_categories=true) %} {% if
                                        messages %} {% for category, message in messages %} {% if category == 'error' %}
                                            <div class="alert alert-danger alter-dismissable fade show" role="alert">
                                                {{ message }}
                                                <button type="button" class="close" data-dismiss="alert">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                        {% endif %} {% endfor %} {% endif %} {% endwith %}

                                        <button type="submit" class="btn btn-primary btn-block mb-4">
                                            Зарегистрироваться
                                        </button>

                                        <div class="text-center">
                                            <p style="color: dimgrey">Уже есть аккаунт? <a href="/login"
                                                                                           style="color: black">Войдите</a>
                                            </p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

